# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the
# -o option to specify an output file.
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Environment variables
.env

# IDE settings
.idea/
.vscode/

# Build output
/build
/dist

# Log files
*.log

# Local configuration
config.local.yml

.aws-sam/
vendor/

.DS_Store